apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kyverno
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  source:
    repoURL: https://kyverno.github.io/kyverno/
    chart: kyverno
    targetRevision: 3.7.0
    helm:
      releaseName: kyverno
      values: |
        crds:
          install: true
  destination:
    server: https://kubernetes.default.svc
    namespace: kyverno
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  ignoreDifferences:
    - group: "*"
      kind: "*"
      jsonPointers:
        - /metadata/resourceVersion
        - /metadata/uid
        - /metadata/labels
        - /metadata/annotations
        - /metadata/creationTimestamp
        - /metadata/generation
        - /metadata/finalizers
        - /spec/conversion
        - /status
