apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-immich-postgres
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath:
    path: /mnt/data/immich-postgres   # Change this path if needed
