apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: immich-postgres
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: postgresql
    targetRevision: 18.2.4
    helm:
      releaseName: immich-postgres
      values: |
        global:
          storageClass: standard

        primary:
          persistence:
            enabled: true
            size: 10Gi
            storageClass: standard
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 1Gi
          startupProbe:
            enabled: false
          customLivenessProbe: {}
          customReadinessProbe: {}
          customStartupProbe: {}
          lifecycleHooks: {}

        auth:
          username: immich
          password: immichpassword
          database: immich
          postgresPassword: immichadminpassword

        architecture: standalone
  destination:
    server: https://kubernetes.default.svc
    namespace: immich
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
