apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-immich-redis
spec:
  capacity:
    storage: 8Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath:
    path: /mnt/data/immich-redis
