apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-configmap-user
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test-configmap-user
  template:
    metadata:
      labels:
        app: test-configmap-user
    spec:
      containers:
      - name: app
        image: nginx
        resources:
          requests:
            memory: "64Mi"
            cpu: "10m"
          limits:
            memory: "128Mi"
        volumeMounts:
        - name: config
          mountPath: /etc/config
      volumes:
      - name: config
        configMap:
          name: some-config