apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: k3s-apps-root
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/am2998/Arch-Lab.git
    targetRevision: HEAD
    path: external-configs/kubernetes/k3s/argocd/apps
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
