apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
resources:
- resources:
  - secrets
  - configmaps
  - events
  providers:
  - aescbc:
      keys:
      - name: key1
        secret: ENCRYPTION_KEY_PLACEHOLDER
  - identity: {}